.thumbnail img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.thumbnail {
    padding: 0;
    border-radius: 10px;
}

.campgroundName {
    text-transform: capitalize;
}

.deleteForm {
    display: inline;
}